body {
    background-color: black;
    color: white;
}

header {
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 600px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Coiny', cursive;
    background-color: #cb6ce6;
    border-radius: 25px;
    width: 600px;
    padding: 5px;
}

.profile-span {
    text-align: center;

}

.position {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.position img {
    width: 100px;
}

.profile img {
    height: 75px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer a {
    color: yellow;
    font-size: 20px;
}

.hidden {
    display: none;
}


