

h1 {
    text-align: center;
}

p {
    font-family: 'PT Serif', serif;

}

#adventures {
    position: relative;
    background-image: url('../assets/rcr-track2.jpg');
    height: 700px;
    background-repeat: no-repeat;
    margin: auto;
    background-size: contain;
    

}

.adventure {
    position: absolute;
    color: white;
    text-shadow: 2.5px 2.5px 2.5px #cb6ce6;
    font-family: 'PT Serif', serif;
    font-size: 50px;
}

.adventure:before {
    content: '🌟'
}

.adventure.completed {
    color: #cb6ce6;
}

.adventure.completed:after {
    content:'🥳';
}

