

h1 {
    text-align: center;
}

p {
    font-family: 'PT Serif', serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

#adventures {
    position: relative;
    background-image: url('../assets/rcr-track2.jpg');
    height: 700px;
    width: 80vw;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    text-align: center;
}

.adventure {
    position: absolute;
    color: white;
    text-shadow: 2.5px 2.5px 2.5px #cb6ce6;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    width: 300px
}

.adventure:before {
    content: '🌟'
}

a {
    text-decoration: none;
}

.adventure:after {
    content: '🌟'
}

.adventure.completed {
    color: #cb6ce6;
}

.adventure.completed:after {
    content:'🥳';
}

