body {
    background-color: black;
    color: white;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.adventures {
    z-index: -1;
    background-image: url('../assets/rcr-track2.jpg');
    height: 500px;
    background-repeat: no-repeat;
    width: 100%;
}

header img {
    width: 75%;
}

.profile {
    margin-top: 20px;
    font-size: 20px;;
    display: flex;
    flex-direction: column;
    font-family: 'Coiny', cursive;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer a {
    color: yellow;
}